body {
  background-color: #fffcf8;
  font-family: "Montserrat", sans-serif;
  /* font-family: 'Covered By Your Grace', cursive; */
}

img {
  display: block;
  max-width: 100%;
}
ul {
  list-style: none;
}

.name-list {
  font-size: 20px;
  margin-bottom: 30px;
}

.project-name {
  font-family: "Rowdies", sans-serif;
  font-size: 20px;
  color: #23541d;
  margin-bottom: 15px;
}

.project-link {
  font-family: "Rowdies", sans-serif;
  font-size: 19px;
  text-decoration: none;
  border-radius: 8px;
  background-color: #b2ceae;
  color: #384735;
  padding: 5px;
}

@media screen and (min-width: 768px) {
  .project-name {
    font-size: 22px;
  }

  .project-link {
    padding: 5px;
    font-size: 21px;
  }
}

@media screen and (min-width: 1158px) {
  .project-name {
    font-size: 25px;
  }

  .project-link {
    padding: 5px;
    font-size: 24px;
  }
}
.go-back-link {
  padding: 5px;
  text-decoration: none;
  font-weight: 700;
  font-size: 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.blue-page {
  background-color: #d3e0ea;
  color: #54626e;
}

.beige-page {
  background-color: #f4e9d4;
  color: #6d523e;
}

/**
  |============================
  | HANGMAN STYLES
  |============================
*/
.hang-body {
  background-color: #5b544c;
  padding-top: 10px;
}
.hanggame-container {
  background-color: #f7f3ee;
  border-radius: 8px;
  width: 60%;
  min-height: 450px;
  margin: 15px auto 0;
  padding: 50px 70px 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.restart-btn {
  width: 40%;
  height: 30px;
  background-color: #97260d;
  color: #efd4ce;
  border: none;
  border-radius: 4px;
  font-weight: 700;
  font-size: 13px;
  font-family: "Cute Font", sans-serif;
  cursor: pointer;
  margin-bottom: 20px;
}

#canvas {
  margin-left: 50px;
}

.hangman-name {
  margin: 0 auto 38px;
  font-family: "Cute Font", sans-serif;
  font-size: 20px;
}

.word-span {
  font-family: "Cute Font", sans-serif;
  font-size: 17px;
  margin-bottom: 25px;
}

.visible {
  background-color: #e7e0d8;
}

.not-visible {
  background-color: #f7f3ee;
}

.alphabet-list {
  width: 260px;
  list-style: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1px;
  padding: 0;
  margin-top: 0;
}

.alphabet-list-item {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: 700;
  font-family: "Rowdies", sans-serif;
  cursor: pointer;
  width: 40px;
  height: 35px;
  background-color: #a0957b;
  border: 1px #2b261c solid;
  border-radius: 3px;
  transition: transform 0.2s, box-shadow 0.2s background-color 0.2s;
}

.alphabet-list-item:hover,
.alphabet-list-item:focus {
  transform: translateY(-2px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #c4b89a;
}

.used {
  background-color: #4d1f0c;
  color: #b5a98c;
}
/* media hangman */

@media screen and (min-width: 768px) {
  .hang-body {
    padding-top: 15px;
  }

  .hangman-name {
    font-size: 28px;
  }

  .restart-btn {
    width: 100px;
    height: 35px;
    font-size: 15px;
  }

  .word-span {
    font-size: 20px;
    margin-bottom: 30px;
  }

  .alphabet-list {
    width: 350px;
    gap: 2px;
  }

  .alphabet-list-item {
    width: 54px;
    height: 39px;
  }

  .go-back-link {
    padding: 5px;
    font-size: 18px;
  }
}

@media screen and (min-width: 1158px) {
  .hanggame-container {
    width: 50%;
    height: 65%;
    margin: 30px auto 0;
    padding: 80px 80px 30px;
  }

  .hangman-name {
    font-family: "Covered By Your Grace", cursive;
    margin: 0 auto 40px;
    font-size: 35px;
  }

  #canvas {
    margin-left: 150px;
  }

  .word-span {
    font-family: "Covered By Your Grace", cursive;
    font-size: 20px;
    margin-bottom: 35px;
  }

  .alphabet-list {
    width: 400px;
    gap: 2px;
  }

  .alphabet-list-item {
    width: 62px;
    height: 42px;
  }

  .go-back-link {
    padding: 5px;
    font-size: 22px;
  }

  .restart-btn {
    font-family: "Covered By Your Grace", cursive;
  }
}

@media screen and (min-width: 1440px) {
  .alphabet-list {
    width: 400px;
    gap: 2px;
  }

  .alphabet-list-item {
    width: 48px;
    height: 38px;
    font-size: 22px;
  }
}

/**
  |============================
  | TREASURE STYLES
  |============================
*/
.tr-body {
  background-color: #f9fcfe;
  padding-top: 10px;
}

.tr-container {
  max-width: 100%;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tr-header {
  font-size: 25px;
  margin-bottom: 20px;
  font-weight: 700;
  color: #0c5495;
}

.distance {
  font-size: 20px;
  border-radius: 4px;
  padding: 2px;
  font-weight: 700;
  margin-bottom: 8px;
  margin-top: 20px;
}

.clicks {
  font-size: 15px;
  margin: 0;
}

/* Media treasure */

@media screen and (min-width: 768px) {
  .tr-body {
    padding-top: 15px;
  }

  .tr-header {
    font-size: 30px;
  }

  .distance {
    font-size: 25px;
    padding: 3px;
    margin-bottom: 10px;
  }

  .clicks {
    font-size: 17px;
  }
}

@media screen and (min-width: 1158px) {
  .tr-header {
    font-size: 40px;
    margin-bottom: 30px;
  }

  .distance {
    font-size: 27px;
    margin-bottom: 12px;
  }

  .clicks {
    font-size: 20px;
  }
}

/**
  |============================
  | SNAKIE STYLES
  |============================
*/

.snake-body {
  background-color: #f8fae3;
}

#score-span {
}

#snake-canvas {
  background-color: #faf3e3;
  width: 300px;
  height: 300px;
}

.snake-container {
  display: flex;
  justify-content: center;
}

.keys-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 6px;
  margin: 0;
}

.keys-list li {
  background-color: #a0957b;
}

.keys-container {
  width: 100px;
  margin: 20px auto;
}

.non-visible {
  display: none;
}

@media screen and (min-width: 768px) {
  #snake-canvas {
    width: 350px;
    height: 350px;
  }
}

@media screen and (min-width: 1158px) {
  #snake-canvas {
    width: 450px;
    height: 450px;
  }
}

@media screen and (min-width: 1440px) {
  #snake-canvas {
    width: 550px;
    height: 550px;
  }
}
